name: Continuous-Integration

on:
  pull_request:
    branches: [ main, dev ]

jobs:
  quality-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Static Analysis (Q4)
        run: flake8 src/backend --count --statistics

      - name: Unit Tests (Q1)
        env:
          PYTHONPATH: .
        run: pytest src/backend/tests

      - name: Acceptance Tests (Q2)
        env:
          PYTHONPATH: .
        run: behave src/backend/tests/features/